<div class="footer-divider"></div>
<div class="text-center author-social">
  <a href="https://github.com/{{ .Site.Params.authorGithub }}" target="_blank">
    <i class="fa fa-github-square fa-2x" aria-hidden="true" style="color:#000000"></i>
  </a>
  <a href="https://linkedin.com/{{ .Site.Params.authorLinkedin }}" target="_blank">
    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="color:#0077B5"></i>
  </a>
  <a href="https://twitter.com/{{ .Site.Params.authorTwitter }}" target="_blank">
    <i class="fa fa-twitter-square fa-2x" aria-hidden="true" style="color:#1DA1F2"></i>
  </a>
  <a href="https://facebook.com/{{ .Site.Params.authorFacebook }}" target="_blank">
    <i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="color:#3b5998"></i>
  </a>
</div>
<p class="copyright">Copyright Gokulnath Reddy &copy; 2017 - Present</p>